<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Aranoz</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home1">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <h3>Profile</h3>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/myAccount">My Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myOrder">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myAddres">Address</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Rating & Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myWhishlist">My Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/payment">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Change Password</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-header">
                <div class="d-flex align-items-center">
                    <img src="path/to/profile-photo.jpg" alt="Profile Photo" class="profile-photo">
                    <div class="profile-photo-edit">
                        <a href="#"><i class="fa fa-pencil-alt"></i></a>
                    </div>
                    <div class="ml-3">
                        <h3>Hello, <%= user.name %></h3>
                    </div>
                </div>
            </div>